<a href="https://colab.research.google.com/github/aperop/ds/blob/main/day05/ex01/basic_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

## create a dataframe views with two columns: datetime and user by reading feed-views.log

In [ ]:
dataset_link = "https://drive.google.com/file/d/1kgByP3EZHL8xAm-oGaBpf0-fPdVIYRaY/view"
file_id = dataset_link.split("/")[-2]
!gdown {file_id} -q
!ls

feed-views.log	sample_data

In [ ]:
file_name = "feed-views.log"

In [ ]:
df = pd.read_csv(file_name, sep='\t', names=['datetime', 'user'], parse_dates=[0])
df

                       datetime       user
0    2020-04-17 12:01:08.463179      artem
1    2020-04-17 12:01:23.743946      artem
2    2020-04-17 12:27:30.646665      artem
3    2020-04-17 12:35:44.884757      artem
4    2020-04-17 12:35:52.735016      artem
...                         ...        ...
1071 2020-05-21 18:45:20.441142  valentina
1072 2020-05-21 23:03:06.457819      maxim
1073 2020-05-21 23:23:49.995349      pavel
1074 2020-05-21 23:49:22.386789      artem
1075 2020-05-22 10:36:14.662600      artem

[1076 rows x 2 columns]

In [ ]:
df["year"] = df.datetime.dt.year
df["month"] = df.datetime.dt.month
df["day"] = df.datetime.dt.day
df["hour"] = df.datetime.dt.hour
df["minute"] = df.datetime.dt.minute
df["second"] = df.datetime.dt.second

In [ ]:
df

,datetime,user,year,month,day,hour,minute,second
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52
...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1076 non-null   datetime64[ns]
 1   user      1076 non-null   object
 2   year      1076 non-null   int64
 3   month     1076 non-null   int64
 4   day       1076 non-null   int64
 5   hour      1076 non-null   int64
 6   minute    1076 non-null   int64
 7   second    1076 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 67.4+ KB

## create the new column daytime

In [ ]:
labels = [ "night", "early morning", "morning", "afternoon", "early evening", "evening"]

In [ ]:
df['daytime'] = pd.cut(df.hour,
                       bins=[0, 4, 7, 11, 17, 20, 24],
                       labels=labels,
                       right=False)

In [ ]:
try:
    df.set_index(['user'], inplace=True)
except:
    pass

In [ ]:
df

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...
valentina,2020-05-21 18:45:20.441142,2020,5,21,18,45,20,early evening
maxim,2020-05-21 23:03:06.457819,2020,5,21,23,3,6,evening
pavel,2020-05-21 23:23:49.995349,2020,5,21,23,23,49,evening
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
artem,2020-05-22 10:36:14.662600,2020,5,22,10,36,14,morning

## calculate the number of elements in your dataframe

In [ ]:
df.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

In [ ]:
df.value_counts(['daytime'])

daytime
evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
dtype: int64

## sort values in your dataframe by hour, minute, and second in ascending order (simultaneously and not one by one)

In [ ]:
df.sort_values(by=['hour', 'minute', 'second'], inplace=True)
df

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night
...,...,...,...,...,...,...,...,...
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
anatoliy,2020-05-09 23:53:55.599821,2020,5,9,23,53,55,evening
pavel,2020-05-09 23:54:54.260791,2020,5,9,23,54,54,evening
valentina,2020-05-14 23:58:56.754866,2020,5,14,23,58,56,evening
alexander,2020-05-14 23:59:38.758438,2020,5,14,23,59,38,evening

## calculate the minimum and maximum for the hours and the mode for the daytime categories

In [ ]:
df.loc[df.daytime == 'night'].hour.max()

3

In [ ]:
df.loc[df.daytime == 'morning'].hour.min()

8

In [ ]:
df.loc[df.daytime == 'night'].hour.idxmax()

'konstantin'

In [ ]:
df.loc[df.daytime == 'morning'].hour.idxmin()

'alexander'

In [ ]:
df.hour.mode()

0    22
dtype: int64

In [ ]:
df.daytime.mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' <
                         'evening']

## show the 3 earliest hours in the morning and the corresponding usernames and the 3 latest hours and the usernames using nsmallest() and nlargest()

In [ ]:
df.loc[df.daytime == 'morning'].nsmallest(3, ['hour'])['hour']

user
alexander    8
alexander    8
alexander    9
Name: hour, dtype: int64

In [ ]:
df.loc[df.daytime == 'morning'].nlargest(3, ['hour'])['hour']

user
konstantin    10
maxim         10
maxim         10
Name: hour, dtype: int64

## use the method describe() to get the basic statistics for the columns

In [ ]:
iqr = df.hour.describe()['75%'] - df.hour.describe()['25%']
print(iqr)

9.0