<a href="https://colab.research.google.com/github/aperop/ds/blob/main/day05/ex00/load_and_save.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

## read_csv

In [ ]:
dataset_link = "https://drive.google.com/file/d/1kgByP3EZHL8xAm-oGaBpf0-fPdVIYRaY/view"
file_id = dataset_link.split("/")[-2]
!gdown {file_id} -q
!ls

feed-views.log	sample_data

In [ ]:
file_name = "feed-views.log"

In [ ]:
df = pd.read_csv(file_name, sep='\t', names=['datetime', 'user'], skiprows=[2, 3], skipfooter=2, index_col=0, engine='python')
df

                                 user
datetime
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

## rename datetime to date_time

In [ ]:
df.index.names = ['date_time']
df

                                 user
date_time
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

## to_csv

In [ ]:
new_file_name = "feed-views-semicolon.log"
df.to_csv(new_file_name, sep=";")

In [ ]:
!head {new_file_name}

date_time;user
2020-04-17 12:01:08.463179;artem
2020-04-17 12:01:23.743946;artem
2020-04-17 12:35:52.735016;artem
2020-04-17 12:36:21.401412;oksana
2020-04-17 12:36:22.023355;oksana
2020-04-17 13:55:19.129243;artem
2020-04-17 15:00:33.138530;artem
2020-04-17 15:14:09.581054;artem
2020-04-17 22:46:26.785035;vladislav